body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}
.post {
    background-color: white;
    width: 40%;
    margin: auto;
    margin-top: 150px;
}
.head-post {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}
img {
    width: 100%;
}
.icon {
    align-self: center;
    font-size: 3em;
    margin-left: 10px;
}
span {
    width: 81%;
    margin-left: 10px;
    align-self: center;
}
.icon2 {
    align-self: center;
    font-size: 2.5em;
}
.pie {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.icon-pie {
    display: flex;
}
.icon3 {
    font-size: 2em;
    width: 94%;
}
.icon4 {
    font-size: 2em;
}